# Ignore local .terraform working directories & downloaded provider binaries
**/.terraform/
.terraform/
terraform-provider-*

# Ignore local state files (can contain unencrypted secrets)
*.tfstate
*.tfstate.*
*.tfstate.backup

# Ignore sensitive variable values
*.tfvars
*.tfvars.json

# Ignore local crash logs & plan overrides
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc